<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TransformApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TransformApplication.Properties.Settings>
            <setting name="WindowAppearance" serializeAs="String">
                <value />
            </setting>
            <setting name="MessageAppearance" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorAppearance" serializeAs="String">
                <value />
            </setting>
            <setting name="MonitorFilePath" serializeAs="String">
                <value>\\edwrdtest\LogFile\Monitor</value>
            </setting>
            <setting name="LastJobsChecked" serializeAs="String">
                <value />
            </setting>
        </TransformApplication.Properties.Settings>
    </userSettings>
</configuration>